{{template "home/chart/base/base.html" .}}
{{define "head"}}
<title>welcome</title>
{{end}}
{{define "body"}}
<div class="container" >
    <button type="button" style="float: right;margin-top: 15px;" class="btn btn-default"><a href="/admin">首页</a></button>
</div>

<div class="container" style="width: 500px;">
    <h3>设置前缀</h3>
    <br>
    <form action="/join" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">用户名: </label>
            <div class="col-md-5">
                  <input type="text" class="form-control" name="uname" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">选择技术: </label>
            <div class="col-md-5">
                <select class="form-control" name="tech">
                    <option value="longpolling">longpolling</option>
                    <option value="websocket">websocket</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">进入</button>
            </div>
        </div>
    </form>
</div>
{{end}}