
.Vidage--allow .Vidage__video {  display: block  }
.Vidage--allow .Vidage__image {  display: none  }
.Vidage {  position: relative;  left: 0;  z-index: -1  }
.Vidage, .Vidage__video {  min-width: 100%;  }
.Vidage__video { width: 100%;  height: auto;  margin-bottom: 3rem;}
.Vidage__image {background-position: 50%;background-repeat: no-repeat; -webkit-background-size:cover;background-size: cover }
.Vidage__backdrop {  background-color: #1b1c1d;  opacity: .1  }
/*.Container {  position: absolute;  top:20%;  width: 100%;  text-align: center;  }*/
#bj1{
    position: absolute;  top:15%;  width: 100%;  text-align: center;
    z-index: 6;
}
#bj2{
    position: absolute;  top:15%;  width: 100%;  text-align: center;
    z-index: 7;
}
#bj3{
    position: absolute;  top:15%;  width: 100%;  text-align: center;
    z-index: 5;
}
#bj4{
    position: absolute;  top:15%;  width: 100%;  text-align: center;
    z-index: 4;
}
#bj5{
    position: absolute;  top:15%;  width: 100%;  text-align: center;
    z-index: 3;
}
h1 {  font-size: 2rem;  margin: 1rem 0;  color: white;  font-weight: normal;  }
